@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Car Management Application </h1>
    <p>ASP.NET Core Web Application using Entity Framework (Code First approach)</p>
</div>
